
body {
    font-family: Arial, sans-serif;
    background: #1f5e02;
    color: white;
    margin: 0;
    padding: 20px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
input[type="number"],
select{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 26%;
    max-width: 291px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    width: 26%;
    max-width: 291px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    color: #007bff;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Side nav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}





.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.circle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.circle-btn:hover {
    background-color: #ff00cc;
    transform: scale(1.1);
}


